<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Frontpage</title>
</head>
<body>

    <h1>Velkommen!</h1>

    <h3>Nedenunder er der en liste med alle kandidaterne til valget på Samsø</h3>


    <ul id="liste_kand"></ul>

    <button id="html_button" type="button">
        <!--Sorterings-funktionalitet-->
    </button>

    <button id="create_button" type="button">
        <a href="/add_candidate">Opret kandidat</a>
    </button>

    <button id="update_button" type="button">
        <a href="/update_candidate">Opdatér kandidat</a>
    </button>

    <button id="delete_button" type="button">
        <a href="/delete_candidate">Slet kandidat</a>
    </button>


    <script src="js_scripts/candidates.js" type="text/javascript"></script>
</body>
</html>